@page "/ResetPassword"
@model ApiFootballLeague.Pages.ResetPasswordModel
@{
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Reset Page</title>
    </head>
    <body>
        <h3>Reset your password</h3>
        <form action="/api/account/resetoldpassword" method="post">
            <input type="hidden" name="Token" value="@Request.Query["Token"]" />
            <input type="hidden" name="Username" value="@Request.Query["Email"]" />
            <table>
                <tr>
                    <td>
                        New Password
                    </td>
                    <td>
                        <input type="password" name="Password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password
                    </td>
                    <td>
                        <input type="password" name="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
            </form>
    </body>
</html>
